/* Custom styling overrides and animations */
.htmx-indicator {
    display: none;
}
.htmx-request .htmx-indicator {
    display: inline-flex !important;
}
.htmx-request.htmx-indicator {
    display: inline-flex !important;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(156, 163, 175, 0.4);
    border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(156, 163, 175, 0.7);
}
